---
layout: "route"
title: Dunwich Dynamo
map_json_file: "dunwich-dynamo.json"
map_gpx_file: "dunwich-dynamo.gpx"
map_kml_file: "dunwich-dynamo.kml"
description: "An epic ride through the night to the Suffolk coast."
added: 2012-12-26
distance: 111
---

<p>OK, this isn't a gentle day ride, but it's <em>just brilliant</em>. <a
  href="http://en.wikipedia.org/wiki/Dunwich_Dynamo">More info at
  Wikipedia</a>.</p>
