---
layout: "route"
title: London to Whitstable
map_json_file: "london-whitstable.json"
map_gpx_file: "london-whitstable.gpx"
map_kml_file: "london-whitstable.kml"
description: "An odd mix of gentle Essex countryside and bizarre Medway towns, with oysters and pint of Shepherd Neame at the end."
added: 2012-12-26
distance: 69
---

<p>This is a similar distance to the Rye ride, but it feels much easier,
because it's pretty flat.</p>

<p>The Medway towns are pretty weird: teenagers driving a horse and trap,
endless roundabouts and cycle lanes that just stop in the middle of nowhere.
A couple of times we ended up on the pavement next to A roads, which seemed
unavoidable at the time, but with some better planning might have been possible
to circumvent.</p>

<p>Still, it's a good route, and all worth it for sitting on the pebble beach
at Whitstable with some oysters and a pint.</p>
