---
layout: "route"
title: London to Cambridge
map_json_file: "london-cambridge.json"
map_gpx_file: "london-cambridge.gpx"
map_kml_file: "london-cambridge.kml"
description: "A comfortable ride along quiet Hertfordshire roads."
added: 2012-12-26
distance: 58
---

<p>This is a BRIG CC favourite. It's a nice wend up through the home counties,
on quiet country lanes, and if you're lucky, with the wind at your back.</p>

<p>Especially recommended at the end of summer, as the leaves begin to turn.</p>

<p>There's two good opportunites to stop. Once, at the <a
  href="http://www.henry-moore.org/">Henry Moore Foundation</a>, near Bishop's
Stortford. There's a small cafe, which isn't particularly worth the detour
unless you're desperate, but the house and grounds are nice, if you like that
sort of thing.</p>

<p>And again at Duxford airfield, a few miles before Cambridge, for the <a
  href="http://www.iwm.org.uk/visits/iwm-duxford">Imperial War Museum</a>.</p>

<p>Trains from Cambridge are frequent, and go to Liverpool St and King's Cross.</p>
