---
layout: "route"
title: London to Rye
map_json_file: "london-rye.json"
map_gpx_file: "london-rye.gpx"
map_kml_file: "london-rye.kml"
description: "A good dash to the sea across the North Downs, South Downs and beyond."
added: 2012-12-26
distance: 70
---

<p>This is a nice long ride, great for a midsummer day. Quite hilly, but plenty
of places for pub-based sustenance, and arriving at windswept Rye beach at the
end is totally worth it.</p>

<p>We cheated a bit and got the East London Line to start at Penge West, to
clear a few boring bits of South London.</p>

<p>There's a nice slow approach into Rye along the sea front, and then head
into the old town on the hill for a pint and chips afterwards.</p>
